:root {
    --color-black-100: rgba(0, 0, 0, 0.16);
    --color-black-200: rgba(0, 0, 0, 0.24);
    --color-black-300: rgba(0, 0, 0, 0.32);
    --color-black-400: rgba(0, 0, 0, 0.72);
    --color-black-500: black;

    --font-size-s: 1rem;
    --font-size-m: 1.563rem;
    --font-size-l: 2.441rem;
    --font-size-xl: 3.815rem;

}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
        url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
        url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
        url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gmarket Sans', sans-serif;
    scroll-snap-type: y mandatory;
}

.test-border {
    border: 1px solid blue;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.SiteContainer {
    width: 960px;
    margin: 0 auto;
}

.SiteHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}


.SiteHeader__logo {
    padding: 32px 16px;

}

.SiteHeaderNav__list {
    display: flex;
}

.SiteHeaderNavItem {
    padding: 32px 24px;

}

.SiteHeaderNavItem>a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--color-black-100);
    font-size: 16px;
}

.SiteSection {
    height: 100vh;
    scroll-snap-align: start;
}



.Hero {
    background: #EAEAEA;
}

.HeroContent {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 110px);
}

.HeroImageSection {
    flex: 1;
    height: 100%;
}

.HeroImageMonitor {
    position: relative;
    height: 100%;
}

.HeroImageMonitor__frame {
    width: 300px;
    z-index: 2;
    position: absolute;
    top: 15%;
}

.HeroImageMonitor__content {
    position: absolute;
    width: 240px;
    z-index: 1;
    top: 20%;
    left: 12%;
}

.HeroImageMonitorText {
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 16%;
    left: 120%;
}

.HeroTextSection {
    flex: 2;
    margin-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.HeroText__headline {
    font-size: var(--font-size-xl);
}

.HeroText__hi {
    color: var(--color-black-200);
    margin-bottom: 16px;
}

.HeroText__description {
    margin-top: 32px;
    font-size: var(--font-size-m);
    color: var(--color-black-300);
    margin-bottom: 80px;
}


/* About Section */
.About {
    background-color: #F5F5F5;
}

.AboutHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: var(--font-size-l);
}

.AboutContent {
    position: relative;
    height: 100%;
    top: -100vh;
}

.AboutContent__list {
    height: 100%;
}

.AboutContentListItem {
    position: relative;
    top: 20%;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
}



.Programming {
    background-color: #F9F9F9;
    height: 100vh;
    display: flex;
    align-items: center;
}


.ProgrammingHeader {
    padding: 0 0 56px 0;
    font-size: var(--font-size-l);

}

.SiteLayoutA {
    display: flex;
    margin-top: 64px;
}

.SiteLayoutA__item1 {
    flex: 3;
    font-weight: 600;
    font-size: var(--font-size-m);

}

.SiteLayoutA__item2 {
    flex: 6;

}

.SiteLayoutA__item--text {
    font-size: var(--font-size-s);
    line-height: calc(var(--font-size-s) * 2);
    /*adjust line-height difference */
    margin-top: -4px;
}

.ProgrammingHeader__about {
    color: var(--color-black-200);
}

.ProgrammingImage {
    width: 100%;
    height: 180px;
    object-fit: cover;


}

.ProgrammingInterest {
    display: flex;
    align-items: center;
}

.ProgrammingInterestItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProgrammingInterest__divider {
    width: 2px;
    height: 80%;
    background-color: var(--color-black-100);
    margin: 0 32px;
}

.ProgrammingInterestItem__images {
    margin: 0 auto;
    text-align: center;
    ;
}

.ProgrammingInterestItem__image {
    width: 64px;
    height: 64px;

}

.ProgrammingInterestItem__label {

    margin: 24px 0;
    font-weight: 400;
    color: var(--color-black-500);
}

.swtrack {
    background-color: aqua;
}

.contact {
    background-color: blueviolet;
}

.temp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
}