.Card {
    --cardShadow: none;
    --cardShadowMargin: 0;
    --cardMinHeight: 72px;
    position: relative;
    min-width: 100px;
    min-height: var(--cardMinHeight);
    border-radius: var(--cardBorderRadius);
    background: var(--cardBackground);
    box-shadow: var(--cardShadow);
    max-width: var(--cardMaxWidth, none);
    overflow: hidden
}

.Card--border {
    border: 1px solid var(--cardBorderColor)
}

@media (max-width:599px) {
    .Card--hasShadowMargin {
        margin-bottom: var(--cardShadowMargin)
    }
}

.Card--shadowXSmall {
    --cardShadow: var(--cardShadowXSmall);
    --cardShadowMargin: var(--cardShadowXSmallMargin)
}

.Card--shadowSmall {
    --cardShadow: var(--cardShadowSmall);
    --cardShadowMargin: var(--cardShadowSmallMargin)
}

.Card--shadowMedium {
    --cardShadow: var(--cardShadowMedium);
    --cardShadowMargin: var(--cardShadowMediumMargin)
}

.Card--shadowLarge {
    --cardShadow: var(--cardShadowLarge);
    --cardShadowMargin: var(--cardShadowLargeMargin)
}

.Card--shadowXLarge {
    --cardShadow: var(--cardShadowXLarge);
    --cardShadowMargin: var(--cardShadowXLargeMargin)
}
