.SiteHeader {
    --siteMenuTransition: 250ms;
    --siteMenuArrowSpacing: 13px;
    --siteMenuArrowOffset: 0;
    --userLogoColor: var(--navColor);
    position: relative;
    z-index: 100;
    background-color: var(--backgroundColor)
}

@media (max-width:899px) {
    .SiteHeader {
        --desktopNavDisplay: none
    }
}

@media (min-width:900px) {
    .SiteHeader {
        --mobileNavDisplay: none
    }
}

@media (prefers-reduced-motion:reduce) {
    .SiteHeader {
        --siteMenuTransition: 1ms
    }
}

.SiteHeader--noTransitions {
    --siteMenuTransition: 0ms
}

.SiteHeader.variant--Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none
}

.SiteHeader--hasGuides:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background: linear-gradient(90deg, var(--guideDashedColor), var(--guideDashedColor) 50%, transparent 0, transparent);
    background-size: 8px 1px;
    content: ""
}

.SiteHeader--excludesNav {
    pointer-events: none
}

.SiteHeader--excludesNav .SiteHeader__logo {
    pointer-events: auto
}

.SiteHeader.theme--Transparent:after {
    display: none
}

.SiteHeader__guidesContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.SiteHeader.theme--Transparent .SiteHeader__guidesContainer {
    display: none
}

.SiteHeader__container {
    position: relative;
    max-width: calc(var(--columnPaddingNormal)*2 + var(--layoutWidth));
    margin: 0 auto;
    padding: 0 var(--columnPaddingNormal)
}

.SiteHeader__navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    padding: 32px var(--columnPaddingNormal) 12px
}

@media (min-width:900px) {
    .SiteHeader__navContainer {
        padding: 12px var(--columnPaddingNormal)
    }
}

@media (pointer:fine) {
    .SiteHeader__logo {
        transition: var(--hoverTransition);
        transition-property: color, opacity
    }

    .SiteHeader__logo:hover {
        color: var(--navHoverColor);
        opacity: var(--navHoverOpacity)
    }
}

.SiteHeader__logoLink {
    display: block;
    outline: none;
    padding: 4px;
    margin: -4px
}

.keyboard-navigation .SiteHeader__logoLink:focus {
    box-shadow: var(--focusBoxShadow);
    border-radius: 2px
}

.SiteHeader__ctaNav {
    display: var(--desktopNavDisplay, initial)
}

.SiteHeader__menuNav {
    display: var(--mobileNavDisplay, initial)
}

.SiteHeader__mobileMenu {
    transform: scale(.95);
    transform-origin: 100% 0;
    opacity: 0;
    pointer-events: none;
    transition: var(--siteMenuTransition);
    transition-property: transform, opacity
}

.SiteHeader--mobileMenuVisible .SiteHeader__mobileMenu {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto
}

@media (min-width:900px) {
    .SiteHeader__mobileMenu {
        display: none
    }
}

.SiteHeader__menuContainer {
    display: var(--desktopNavDisplay, block);
    position: absolute;
    top: calc(100% - 1px - var(--siteMenuArrowSpacing));
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
    pointer-events: none;
    perspective: 2000px;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity;
    transition: var(--siteMenuTransition)
}

.SiteHeader--dropdownVisible .SiteHeader__menuContainer {
    opacity: 1
}

.SiteHeader__menu {
    position: absolute;
    top: 0;
    left: 50%
}