.SiteNavItem {
    margin-left: calc(var(--siteNavIconSize) + var(--siteNavIconSpacing));
    font: var(--fontWeightNormal) 14px/1.428571429 var(--fontFamily);
    letter-spacing: .2px
}

.SiteNavItem--hasIcon {
    margin-left: 0
}

.SiteNavItem__link {
    display: inline-flex;
    color: #0a2540;
    outline: none
}

.keyboard-navigation .SiteNavItem__link:focus {
    box-shadow: var(--focusBoxShadow);
    border-radius: 2px
}

.SiteNavList--iconSizeLarge .SiteNavItem__link {
    align-items: center
}

@media (max-width:899px) {
    .SiteNavItem__link {
        padding: 6px
    }
}

.SiteNavItem__iconContainer {
    --iconLightColor: #88add2;
    --iconDarkColor: #0a2540;
    --iconKnockoutColor: #fff;
    flex: 0 0 auto;
    width: var(--siteNavIconSize);
    height: var(--siteNavIconSize);
    margin-right: var(--siteNavIconSpacing)
}

.SiteNavItem__iconContainer svg {
    width: inherit;
    height: inherit
}

.SiteNavItem__iconContainer circle,
.SiteNavItem__iconContainer path,
.SiteNavItem__iconContainer rect {
    transition: var(--hoverTransition);
    transition-property: fill, stroke
}

.SiteNavList--iconSizeNormal .SiteNavItem__iconContainer {
    margin-top: 3px
}

.SiteNavItem__link:hover .SiteNavItem__iconContainer {
    --iconLightColor: initial;
    --iconDarkColor: initial;
    --iconKnockoutColor: initial
}

.SiteNavItem__label {
    color: inherit
}

.SiteNavItem--hasIcon .SiteNavItem__label {
    font-weight: var(--fontWeightSemibold)
}

.SiteNavItem--hasNoIcon.SiteNavItem--hasNoBody .SiteNavItem__label {
    transition: var(--hoverTransition);
    transition-property: opacity;
    opacity: .8
}

.SiteNavItem--hasNoIcon.SiteNavItem--hasNoBody .SiteNavItem__link:hover .SiteNavItem__label {
    opacity: 1
}

.SiteNavItem__arrow.HoverArrow {
    transition: var(--hoverTransition);
    transition-property: opacity
}

.SiteNavItem--isArrowHidden .SiteNavItem__arrow.HoverArrow {
    opacity: 0
}

@media (max-width:899px) {
    .SiteNavItem--isArrowHidden .SiteNavItem__arrow.HoverArrow {
        display: none
    }
}

.SiteNavItem__link:hover .SiteNavItem__arrow.HoverArrow {
    opacity: 1
}

@media (min-width:900px) {
    .SiteNavItem--hasNoBody.SiteNavItem--isArrowHidden .SiteNavItem__arrow.HoverArrow {
        display: none
    }
}

.SiteNavItem__body {
    color: inherit;
    opacity: .6;
    transition: var(--hoverTransition);
    transition-property: opacity;
    white-space: nowrap
}

.SiteNavItem__link:hover .SiteNavItem__body {
    opacity: 1
}

@media (max-width:899px) {
    .SiteNavItem__body {
        display: none
    }
}